/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(17, 25, 40, 0.5);
    border-radius: 5px;
}

/* Add other scrollbar styles (track, corner, etc.) as needed */
